@import "tailwindcss";

.form-item__label {
  font-size: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-item + .form-item{
  margin-top: 16px;
}

.form button[type="submit"] {
  margin-top: 16px;
}

.form-item__error {
  color: red;

  animation-name: slideIn;
  animation-duration: 0.20s;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    height: 16px;
    transform: translateX(0%);
  }
}
