.wrapper {
  margin-bottom: var(--formWrapper-marginBottom, 16px);
}

.label {
  display: flex;
  margin-bottom: var(--formLabel-marginBottom, 4x);
}

.error {
  display: flex;
  padding-top: var(--formError-paddingTop, 4x);
  animation: var(--formError-animation, slideIn 0.2s ease-in-out);
}

@keyframes slideIn {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(calc(var(--formError-paddingTop) * -1));
  }

  to {
    opacity: 1;
    height: 16px;
    transform: translateX(0%);
  }
}
